.brown{margin-left:61px;
background-color:white;
width:510px;height:301px;
float:left;
}
.whitet
{
color:white;
font-size:48px;
font-family:revert;

}
.blackt
{
color:black;
font:200px;

}
.brownt
{
color:#C28A7E;
font:400px;

}
.pic
{
color:#C28A7E;
float:left;
margin-left:170px;
}
.pic2
{
color:#C28A7E;
float:left;
margin-left:860px;
margin-top:-289px;
}
.pic3
{
color:#C28A7E;
float:left;

}



.blue{
background-color:#7E92C2;
width:590px;height:400px;
float:left;
}
.maroon{
background-color:#C28A7E;
color:white;
width:139px;
font-size:18px;
margin-left:36px;

}


}
.white{height:10%;
background-color:#7E92C2;
width:400px;float:left;
margin-top:266px;
}

.pic5{
background-color:#7E92C2;
width:961px;height:41px;
float:left;
font-size:26px;
margin-top:109px;
margin-left:-122px;
color:white;
font-family:revert;

}
.pic4
{
color:#C28A7E;
float:left;
display:flex;

}